/* .input{
    background-color: lightgrey;
	width:98%;
	height:30px;
}
.main{
    border: 2px solid black;
	border-radius:30px;
	width: 40%;
	margin:50px;
	background-color:#09F;
}
.btn{
	border-radius:20px;
	color:#F90;
	background-color:#003AFF;
	width:60px;
	height:50px;
	margin:10px;
}
.btn1{
	border-radius:20px;
	color:#000;
	background-color:#FF0;
	width:60px;
	height:50px;
	margin:10px;
	
}
.big{
	width: 40%;
	height: 50%;
	box-shadow: grey 5px;
}
.out{
	width: 20%;
	height: 30%;
} */